---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 0
IndentWidth: 4
AccessModifierOffset: -2
NamespaceIndentation: All
AlignOperands: AlignAfterOperator
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
EmptyLineBeforeAccessModifier: LogicalBlock
SeparateDefinitionBlocks: Always
PointerAlignment: Right
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
PackConstructorInitializers: NextLine
IncludeCategories:
  - Regex: 'testlib\.h'
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^<(iostream|cstdio)>'
    Priority: 2
    SortPriority: 1
    CaseSensitive: false
  - Regex: '^<.*'
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: '.*'
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
# InsertBraces: true   ## clang-format 15
