---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 0
IndentWidth: 4
AccessModifierOffset: -2
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
PointerAlignment: Right
