/*此区域用来应用一些自定义设置*/

/*--------------------卡片透明度*/
.lg-article,
.lg-summary,
.lg-article-sub,
.lg-content-table-left,
.card {
    background: rgba(252, 252, 252, 0.84) !important;
}
/*--------------------背景图片，默认是颜色编码*/
html > body {
    /*background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTUwOTcwNDY1MzQ4IiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjExMzUiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIj48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwvc3R5bGU+PC9kZWZzPjxwYXRoIGQ9IiIgcC1pZD0iMTEzNiIgZmlsbD0iI2ZmZmZmZiI+PC9wYXRoPjwvc3ZnPg==);*/
    /*background-image: url(https://i.pximg.net/img-original/img/2015/11/22/00/37/48/53671536_p0.png);*/
    background-image: url(https://i.loli.net/2020/10/02/U3Nx4fyJ26Ig75r.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 25%;
    background-attachment: fixed;
}
/*.wrapper {
    background: rgba(255, 255, 255, 0.7) !important;
}*/

.bottom .page-bar button{
    width: 2.1rem !important;
}

/*-------------------主题*/

/*顶栏和侧栏自定义颜色/透明效果*/

/*示例配色代码*/

/*#app > .main-container > header{
    background: linear-gradient(87deg,#7474bf 0, #348ac7 100%) !important;
}
body #app > .lfe-body > a , body #app > .lfe-body > .popup-button{
    color: #7474bf !important;
}
body #app > .lfe-body > div:first-of-type , ::-webkit-scrollbar-thumb:hover{
    background-color: #7474bf !important;
}*/
body #app > .main-container > .header-layout,
html > body > #app > .main-container > .header-layout,
html #app > .main-container > .header-layout.tiny {
    /*background: transparent !important;*/
    background: linear-gradient(
        rgba(188, 188, 188, 0.66),
        rgba(188, 188, 188, 0.05)
    ) !important;
    box-shadow: none !important;
}
body .main-container > .lfe-body:last-child > .footer {
    background: linear-gradient(
        rgba(177, 177, 177, 0.05),
        rgba(188, 188, 188, 0.66)
    ) !important;
}
body #app > .lfe-body {
    background: rgba(166, 166, 166, 0.7) !important;
}
body #app > .lfe-body > a,
body #app > .lfe-body > .popup-button,
html > body > #app > .main-container > .header-layout a.icon-btn i,
html > body > #app > .main-container > .header-layout a.icon i,
html > body > #app > .main-container > .header-layout a.icon i,
html > body > #app > .main-container > .header-layout .link *,
.header-layout.tiny .link-container a span {
    color: #fff !important;
}
body #app > .lfe-body > div:first-of-type {
    background-color: transparent !important;
}
body #app .card > pre {
    padding: 10px;
}
body #app .bar-wrap {
    background-color: rgba(188, 188, 188, 0.8) !important;
}
body #app .progress-frame > div[style^="width: 100%"] {
    background-color: rgb(82, 196, 26) !important;
}
/*-------------------- 夜间模式 --------------------*/

/*下面是夜间模式CSS
.lg-article , .lg-summary , .lg-article-sub , .lg-content-table-left , html > body:first-of-type #app > .lfe-body{
    background:#424242 !important;
    color:#eee !important;
}
#app > .lfe-body * {
    color: #eee !important;
}
html > body:first-of-type #app > .lfe-body div:first-of-type {
    background: #353535 !important;
}
.popup , #app-header .content nav a[href^="/space/show"]+div.center , #app-header .content nav a[href^="/space/show"]+div.center *{
    background:#424242 !important;
    color: #eee !important;
}
.am-panel,.feed-selector>a,.am-nav-tabs li>a,.am-comment-bd,.lg-sub-article,code,.am-alert,#lg-tag-result,#lg-tag-select{
    background:#454545 !important;
    color:#eee !important;
}
.am-comment-hd{
    background:#404040 !important;
}
textarea,input{
    background:#666666 !important;
    color:#eee !important;
}
html > body:first-of-type > #app-header , html > body:first-of-type > #app-header .content > header{
    background:#212121 !important;
    color:#eee !important;
}
#app-header h1:before{
    content: "";
    box-shadow: inset -15px 0 30px #212121;
}
body,html,html>body:first-of-type{
    background:#303030 !important;
}
.lg-small,strong{
    color:rgba(255,255,255,.6);
}
.highcharts-axis.highcharts-yaxis > text,.highcharts-axis-labels.highcharts-yaxis-labels > text,.highcharts-axis-labels.highcharts-xaxis-labels > text{
    fill:#ddd !important;
}
.ace_content{
    color:#eee;
    background:#212121;
}
.ace-clouds .ace_keyword.ace_operator{
    color:#aaa !important;
}
.ace-clouds .ace_storage, .ace-clouds .ace_support.ace_class, .ace-clouds .ace_support.ace_function, .ace-clouds .ace_support.ace_other, .ace-clouds .ace_support.ace_type {
    color: #e778b0 !important;
}
.ace-clouds .ace_keyword, .ace-clouds .ace_meta, .ace-clouds .ace_support.ace_constant.ace_property-value {
    color: #40c4ff !important;
}
.ace-clouds .ace_constant.ace_numeric {
    color: #5af354 !important;
}
.ace-clouds .ace_marker-layer .ace_active-line {
    background:#404040;
}
.ace_layer.ace_gutter-layer.ace_folding-enabled{
    background: #303030;
    color: #eee;
}
.ace-clouds .ace_gutter-active-line {
    background-color: #666666;
}
body:before{
    content:"";
    position:fixed;
    z-index:999999999999999;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.2);
    pointer-events:none;
}
.am-progress {
    background-color: #e9ecef0d;
}
#mp-toolbar{
    background:#212121;
    border:none;
}
#mp-toolbar *,#mp-editor-area{
    border:none !important;
}
.CodeMirror-cursor {
    border-color: #ccc;
}
#mp-editor-area * {
    background: #303030 !important;
}
.CodeMirror-gutters,#mp-editor-preview-area {
    border-color: #555;
}
.cm-s-default .cm-link {
    color: #444899;
}
.cm-s-default .cm-string {
    color: #ca405b;
}
pre.CodeMirror-line {
    color: #ddd;
}
.am-pagination>li>a {
    background: #424242;
    border: none;
}
#app-footer {
    background: #212121 !important;
}
ul.am-dropdown-content>li>a {
    color: #ddd;
}
.am-dropdown-header {
    color: #ccc;
}
textarea, input, .am-dropdown-content {
    background: #404040 !important;
    color: #eee !important;
}
ul.am-dropdown-content .am-divider {
    background-color: #555555;
}
.am-modal-dialog {
    background-color: #424242;
}
.am-modal-dialog>#lg-alert-message, .am-modal-dialog>#memadmin {
    color: #eee;
}
.am-modal-dialog>#lg-alert-title, .am-modal-dialog>#memtitle {
    color: #eee;
}
pre {
    background: transparent;
    border-color: #555;
    color: #eee !important;
}
hr {
    border-color: #666;
}
.lg-sidebar-list li[class^="lg-nav"] a span[class^="am-icon"]:after {
    background: #fff !important;
    opacity: 0.95;
}
.lg-index-benben > div.lg-article:nth-of-type(2) {
    background: #424242 !important;
    box-shadow: 0 5px 15px rgba(50,50,93,.1),0 5px 8px rgba(0,0,0,.07)!important;
}
#home-center-nav {
    background: #303030 !important;
}
.lg-fg-bluedark {
    color: #678baf !important;
}
#app-header * {
    color: #ddd !important;
}
#app > .lfe-body > div.popup-button {
    color: #eee !important;
}
.lg-summary-content li {
    background: transparent !important;
}
.lg-summary-content .fadeout {
    background-image: linear-gradient(transparent 0%,rgb(69,69,69) 90%);
}
.lg-summary-content .comment-show-more {
    color:#aaa;
}
.lg-article .pagination-centered:before{
    background:#303030 !important;
}
#mp-editor-area div.CodeMirror-selected{
    background:rgba(255,255,255,0.5) !important;
}
#mp-editor-area .CodeMirror-line,#mp-editor-area .CodeMirror-line *{
    background:transparent !important;
}
*/

/*--------------------侧栏颜色*/

/*下面是侧栏颜色CSS
#app > .lfe-body{
    background: linear-gradient(30deg,#7795f8 15%,#6772e5 70%,#555abf 94%) !important;
}
#app > .lfe-body > a , .popup-button > i{
    color: #fafafa !important;
}
*/

/*--------------------禁用顶栏标题动画*/

/*下面是禁用顶栏标题动画CSS
.main-container > header > .header > h1{
    animation:none !important;
}
*/